/* 
font-family: 'MuseoModerno', cursive;
font-family: 'Syne', sans-serif;
font-family: 'Kulim Park', sans-serif;
font-family: 'Lexend Giga', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Bungee', cursive;
font-family: 'Arvo', serif;
font-family: 'Fredoka One', cursive;
font-family: 'Bungee', cursive;

 */

.font {
  font-family: 'Lexend Giga', sans-serif;
}


body {
  background-color: #FF6852;
  color: #fafafa;
  /* padding: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

h1 {
  font-size: 48px;
  margin: 0 auto;
  height: 56px;
}

button {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  outline: none;
  padding: 12px 24px;
  font-family: 'Lexend Giga', sans-serif;
  color: #FF6852;
  margin-top: 32px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 16px;
  height: 52px;
}

button:active {
  outline: none;
}

.scooter-image {
  background-image: url(assets/scooter_transparent.png);
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  width: 320px;
  height: 333px;
}